<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Vanilo Euplatesc Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix="Test.php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="EUPLATESC_MERCHANT_ID" value="44559988770"/>
        <env name="EUPLATESC_ENCRYPTION_KEY" value="111aaaabbbbccccddddeeeeffff0000111122222"/>
    </php>
</phpunit>
